
.total-container{
    margin-top: 20vh;
}
.course-search-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;    
}

.search-section{
    margin-left: -15px;
}
.program-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    width: 100%;
}

.filter-card{
    margin:30px;
}

.course-card {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}