.course-list-container{
    margin-top: 20vh;
}

.welcome-div{
    margin-left: 280px;
    margin-top: 40px;
}

.welcome-div h1{
    color: #5751E1;
    font-size: 40px;
    font-weight: 300;
    margin-left: -110px;
}

.enrolled-list-container{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin: 50px;
    margin-left: 100px;
    padding: 20px;  
}

.enrolled-list-container h2{
    padding-left: 50px;
    font-weight: 300;
}

.enrolled-program-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    width: 930px;
    justify-content: center;
    width: 100%;
}